.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 12px dashed orange;
    animation: rotate 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) ;
    }
    50% {
        transform: rotate(360deg) scale(1.4);
    }
}